/* Jwellery Managemnt System CSS Code */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    
}

/* Navbar styling */

.navbar {
    background-color:blue;
    overflow: hidden;
    font-weight: bold;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:gray;
}

/* Dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 10px 20px;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #575757;
}

/* Dropdown menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
   
}

/* Dropdown links */
.dropdown-content a {
    float: none;
    background-color:white;
    color: black;
    padding: 12px 16px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:rgb(190, 190, 247);
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub master menu styling */

ul {
  list-style: none;
  padding-left: 10px;
}

li {
  position: relative;
  padding: 8px 10px;

  margin: 4px 8px;
  background-color: white;
  float: left;
  width: fit-content;
  cursor: pointer;
  border-radius: 4px;
  font-weight:bold;
  
}

li:hover {
  background-color: rgb(149, 159, 243);
  text-decoration: underline;
}

/* Hide submenus by default */
li ul {
  display: none;
  margin-left: 20px;
}

/* Show submenu on hover */
li:hover > ul {
  display: block;
  position: relative;
}
li ul li {
    background-color: lightgray;
    border-radius: 0px;
    margin: 20px;
    font-weight: normal;
    padding: 6px 10px;
    width: fit-content;
}